<h2>Results</h2>

<form action="search" method="get">
  <input name="query" placeholder="Author or title">
  <button>Search</button>
</form>

<div class="searchResult">
  <p><%= @thebookname%></p>
  <p><%= @thebookauthor%></p>
  <img src="<%= @thebookimage%>">

</div>
