body {
  text-align: center;
  font: sans-serif;
  background: rgb(158, 167, 159);
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-align: center;
  text-decoration: none;
}

h2, p {
  margin: 2.5% 10%;
  text-align: center;
}

.searchResult {
  justify-content: center;
  text-align: center;
}

form input {
  border: 2px solid black;
  height: 20px;
  width: 15%;
  justify-content: center;
}

button:hover {
  background-color: darkred;
}
